In [1]:
#Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your 
#fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].
#A1. code
years_list=[i for i in range(1997,1997+6)]
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

In [2]:
#Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
#A2. code
years_list[3]

2000

In [3]:
#Q3.In the years list, which year were you the oldest?
#A3. code
years_list[-1]

2002

In [4]:
#Q4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
#A4. code
things=['mozzarella','cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

In [5]:
#Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?
#A5. code
for i in range(len(things)):
    if things[i]=='cinderella':
        things[i]=things[i].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

In [6]:
#Q6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
#A6. code
surprise=['Groucho','Chico','Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

In [7]:
#Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
#A7. code
surprise[-1].lower()[::-1].capitalize()

'Oprah'

In [8]:
#Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and 
#walrus is morse.
#A8. code
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [9]:
#Q9. Write the French word for walrus in your three-word dictionary e2f.
#A9. code
e2f.get('walrus')

'morse'

In [10]:
#Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
#A10. code
f2e = dict([i[::-1] for i in e2f.items()])
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [11]:
#Q11. Print the English version of the French word chien using f2e.
#A11. code
f2e.get('chien')

'dog'

In [12]:
#Q12. Make and print a set of English words from the keys in e2f.
#A12. code
list(e2f.keys())

['dog', 'cat', 'walrus']

In [13]:
#Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
#Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a 
#list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
#A13. code
life={'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [14]:
#Q14. Print the top-level keys of life.
#A14. code
list(life.keys())

['animals', 'plants', 'other']

In [15]:
#Q15. Print the keys for life['animals'].
#A15. code
list(life['animals'].keys())

['cats', 'octopi', 'emus']

In [16]:
#Q16. Print the values for life['animals']['cats']
#A16. code
list(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']